﻿@model FinalExam.Models.Place

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Model.Name</h2>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/@Model.ImagePath" class="card-img" alt="..." style="height: 100px; width: 100px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Desription</p>
                <p class="card-text"><small class="text-muted">@Model.AverageRaiting</small></p>
            </div>
        </div>
    </div>
</div>

<h2>Gallery</h2>

@{
    if (Model.Images != null)
    {
        foreach (var img in Model.Images)
        {
            <img src="/@img.ImagePath" style="height: 100px; width: 100px;"/>
        }
    }
}
<h2>Average raiting: @Model.AverageRaiting</h2>
@{
    <h2>Reviews</h2>
    if (Model.Reports != null)
    {
        foreach (var report in Model.Reports)
        {
            <div>Title @report.Title</div>
            <div>Description @report.Description</div>
            <div>Raiting @report.Raiting</div>
        }
    }
}
<h3>Add review</h3>
<div class="row">
<div class="col-md-2">
    @using (Html.BeginForm("Create", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input hidden="true" name="placeId" value="@Model.Id" />
        <label>Title</label>
        <input type="text" name="title" />
        <label>Description</label>
        <textarea name="description"></textarea>
        <label>Raiting</label>
        <input type="number" name="raiting" />
        <button>Submit review</button>

    }
</div>
</div>
<h3>Uplaod new Photo</h3>

@using (Html.BeginForm("AddNewImage", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input hidden="true" name="placeId" value="@Model.Id" />
    <input hidden="true" type="text" name="title" value="@Model.Name"/>
    <input type="file" name="image" />
    <button>Upload photo</button>

}
