﻿@model FinalExam.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All places</h2>

@{
    <div class="row">
        @foreach (var item in Model.Places)
        {
            <div class="card col-sm-6" style="width: 18rem;">
                <img src="@item.ImagePath" class="card-img-top" alt="..." style="width: 100px" ; height="100px" ;>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Desription</p>
                    @{
                        if (item.Reports!=null)
            {
                <p class="card-text">@item.Reports.Count() reviews</p>
            }
                    }
                    @{
                        if (item.Images!=null)
                        {
                            <p class="card-text">@item.Images.Count() photos</p>
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Go to there</a>
                </div>
            </div>
        }
    </div>
}
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-controller="Places"
       asp-action="Index"
       asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@if (Model.PageViewModel.HasNextPage)

{
    <a asp-controller="Places"
       asp-action="Index"
       asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>

}